<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      
        <form method="post" action="/user/login" id="login" enctype="multipart/form-data" class="form-horizontal">

          <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
              <input type="text" id="username" name="username" placeholder="username" class="input-xxlarge">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="password" class="input-xxlarge">
            </div>
          </div>

          <div class="control-group">
            <div class="controls">
              <input type="submit" class="btn btn-primary" value="Sign in" />
            </div>
          </div>         
          
        </form>

    </div>
  </body>
</html>
