.trans {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.no-trans {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
body {
  font-family: 'Gentium Book Basic', serif;
  font-size: 13px;
  line-height: 1.2;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
body p {
  font: 400 16px/24px "gentium book basic";
}
body .brd {
  height: 1px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
body.business {
  background-color: #fff;
  color: #222;
  color: rgba(0, 0, 0, 0.6);
}
body.business .brd {
  background-color: #333;
}
body.business h1,
body.business h2,
body.business h3,
body.business h4,
body.business h5,
body.business h6,
body.business nav a {
  font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
body.business nav a {
  color: #333;
  color: rgba(0, 0, 0, 0.6);
}
body.business nav a:hover {
  color: #000;
  color: #000000;
  text-decoration: underline;
}
body.business nav a.disabled {
  color: #e1e1e1 !important;
}
body.business nav a.disabled:hover {
  text-decoration: none;
}
body.business #logo {
  -webkit-filter: grayscale(100%);
}
body.business #about ul li.how li a {
  border: 1px solid #333;
  color: #fff;
  background-color: #333;
}
body.business #about ul li.how li.t a {
  background-color: #333;
}
body.business #about ul li.how li.s a {
  background-color: #999;
}
body.business #project_carousel .text {
  background-color: #fff;
}
body.business #navigation_prj button:before {
  color: #222;
  color: rgba(0, 0, 0, 0.6);
}
body.pleasure {
  background-color: #1D1D1D;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px 1px #000;
}
body.pleasure .brd {
  background-color: #d01e53;
}
body.pleasure h1,
body.pleasure h2,
body.pleasure h3,
body.pleasure h4,
body.pleasure h5,
body.pleasure h6,
body.pleasure nav a {
  font-family: 'Julius Sans One', sans-serif;
  text-transform: uppercase;
}
body.pleasure h1 {
  color: #5c3df5;
  text-shadow: 0 0 6px #5c3df5;
}
body.pleasure h2 {
  color: #993df5;
  text-shadow: 0 0 6px #993df5;
}
body.pleasure h3 {
  color: #d63df5;
  text-shadow: 0 0 6px #d63df5;
}
body.pleasure h4 {
  color: #f53dd6;
  text-shadow: 0 0 6px #f53dd6;
}
body.pleasure h5 {
  color: #f53d99;
  text-shadow: 0 0 6px #f53d99;
}
body.pleasure h6 {
  color: #f53d5c;
  text-shadow: 0 0 6px #f53d5c;
}
body.pleasure nav a {
  color: #5cf53d;
  text-shadow: 0 0 6px #5cf53d;
}
body.pleasure nav a:hover {
  color: #3dd6f5;
  text-shadow: 0 0 6px #3dd6f5;
}
body.pleasure nav .active a {
  color: #3dd6f5 !important;
  text-shadow: 0 0 6px #3dd6f5 !important;
}
body.pleasure p > a {
  color: #d01e53;
}
body.pleasure #logo {
  -webkit-animation-name: flicker;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 3s;
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  -webkit-filter: grayscale(100%) drop-shadow(0 0 0 #000000);
}
body.pleasure #home h1 {
  color: #5c3df5;
  text-shadow: 0 0 24px #5c3df5;
}
body.pleasure #content section {
  border-color: rgba(255, 255, 255, 0.05);
  border-color: #d01e53;
}
body.pleasure #about ul li.how li a {
  border: 1px solid #fff;
  color: #fff;
  background-color: #555;
}
body.pleasure #about ul li.how li.t a {
  background-color: #99f53d;
}
body.pleasure #about ul li.how li.s a {
  background-color: #f53d99;
}
body.pleasure #blurb .star {
  color: #d63df5;
}
body.pleasure .switch-selection {
  background-image: -webkit-linear-gradient(top, #e33e6f, #d01e53);
  background-image: -moz-linear-gradient(top, #e33e6f, #d01e53);
  background-image: -o-linear-gradient(top, #e33e6f, #d01e53);
  background-image: linear-gradient(to bottom, #e33e6f, #d01e53);
}
body.pleasure #project_carousel .text {
  background-color: #1D1D1D;
}
body.pleasure #project_carousel .text span,
body.pleasure #project_carousel .text p {
  font-size: 16px !important;
}
body.pleasure #project_carousel .text a {
  color: #d01e53;
  text-shadow: none;
}
body.pleasure #navigation_prj button:before {
  color: #d01e53;
  -webkit-filter: drop-shadow(0 0 2px #d01e53);
}
#navigation {
  width: 186px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}
#navigation header {
  -webkit-transform: translate3d(0, 0, 0);
}
#navigation header nav {
  padding: 12px 0 0 0;
}
#navigation header nav ul.nav {
  margin: 0;
}
#navigation header nav ul.nav li {
  padding: 12px 0 12px 12px;
}
#navigation header nav ul.nav li#logo {
  padding: 0 !important;
}
#navigation header nav ul.nav li#logo h1 {
  width: 186px;
  margin: 0 0 24px 0;
}
#navigation header nav ul.nav li#logo h1 img {
  margin: 0 0 0 12px;
  display: block;
}
#navigation header nav ul.nav li#logo a:after {
  display: none !important;
}
#navigation header nav ul.nav li.active a {
  font-size: 24px;
}
#navigation header nav ul.nav li.active a:after {
  opacity: 1;
}
#navigation header nav ul.nav li a {
  font-size: 18px;
  display: block;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#navigation header nav ul.nav li a:after {
  content: " >";
  opacity: 0;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#navigation header nav ul.nav li a:hover {
  text-decoration: none;
  background: none;
}
#navigation header nav ul.nav li a.disabled {
  color: #333;
  text-shadow: none;
}
#navigation #blurb {
  -webkit-transform: translate3d(0, 0, 0);
  padding: 6px 12px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 162px;
  opacity: 0.4;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#navigation #blurb:hover {
  opacity: 0.9999;
}
#navigation #blurb .star {
  font-size: 28px;
  line-height: 0px;
  display: inline-block;
}
#navigation #blurb p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}
article pre,
article code {
  text-shadow: none;
}
#content {
  -webkit-transform: translate3d(0, 0, 0);
  margin: 0 0 0 186px;
  position: relative;
  z-index: 9;
  opacity: 0;
}
#content.show {
  -moz-animation-name: fadeIn;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;
  -moz-animation-duration: 0.5s;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-name: fadeIn;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
}
#content section {
  margin: -1px 0 0 0;
  border-top: 1px solid #333;
  width: 700px;
  padding: 24px;
  position: relative;
}
#content section .side {
  float: left;
  width: 200px;
}
#content section .side h1,
#content section .side h2,
#content section .side h3,
#content section .side h4 {
  margin: 0;
}
#content section .main {
  float: left;
  width: 500px;
}
#content #home {
  margin: 0 0 1px 0;
}
#content #home h1 {
  margin: 0;
  float: left;
  position: absolute;
}
#content #posts ul {
  margin: 0;
}
#content #posts .post {
  display: block;
  margin: 0 0 24px 0;
}
#content #posts .post .date h4 {
  line-height: 40px;
}
#content #posts .post .content header {
  padding: 0 0 12px 0;
}
#content #posts .post .content header h3 {
  margin: 0;
}
#content #posts .post .content .image {
  margin: 0 0 12px 0;
}
#content #posts .post .content .image img {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1px;
}
#content #about ul {
  margin: 0;
}
#content #about ul li {
  display: block;
  margin: 0 0 24px 0;
}
#content #about ul li .type {
  display: block;
  float: left;
  width: 500px;
  margin: 0 0 12px 0;
}
#content #about ul li .type h3 {
  margin: 0 0 12px 0;
}
#content #about ul li.how ul {
  list-style: none;
}
#content #about ul li.how li {
  margin: 0;
}
#content #about ul li.how li a {
  float: left;
  margin: 0 4px 4px 0;
  padding: 2px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#content #about ul li.how li a:hover {
  text-decoration: none;
}
#content #about ul li.how li.fluent a {
  font-size: 18px;
}
#content #about ul li.how li.great a {
  font-size: 14px;
}
#content #about ul li.how li.good a {
  font-size: 10px;
}
#content #contact {
  z-index: 99;
  position: relative;
}
#content #contact .text {
  width: 306px;
}
#content #contact .text#message {
  height: 200px;
}
#content #contact #loader {
  margin: 0 0 0 12px;
  display: none;
}
#projects {
  overflow-y: hidden;
  position: relative;
  z-index: 9;
}
#projects #prj_center {
  position: absolute;
  top: 50%;
  margin-top: -275px;
  left: 50%;
  margin-left: -345px;
  width: 690px;
  height: 550px;
}
#projects #prj_center #prj_carousel_cont {
  display: block;
  position: relative;
  width: 640px;
  height: 500px;
  border: 1px solid #333;
  padding: 24px;
  z-index: 999;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px;
  -o-perspective: 1100px;
  perspective: 1100px;
}
#projects #prj_center #prj_carousel_cont #project_carousel {
  margin: 0;
  padding: 0;
  width: 640px;
  height: 500px;
  z-index: 99;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#projects #prj_center #prj_carousel_cont #project_carousel.panels-backface-invisible .project {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
#projects #prj_center #prj_carousel_cont #project_carousel .project {
  display: block;
  position: absolute;
  z-index: 9;
  width: 640px;
  height: 500px;
}
#projects #prj_center #prj_carousel_cont #project_carousel .project .img {
  overflow: hidden;
  width: 640px;
  height: 320px;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
#projects #prj_center #prj_carousel_cont #project_carousel .project .text {
  margin: 12px 0 0 0;
  padding: 12px;
  height: 132px;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
#projects #prj_center #prj_carousel_cont #project_carousel .project .text h4 {
  font-size: 24px;
}
#projects #prj_center #prj_carousel_cont #project_carousel .project .text .description p {
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 13px;
  line-height: 1.5;
}
#projects #prj_center #prj_carousel_cont.ready #project_carousel {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
}
#projects #navigation_prj {
  position: absolute;
  top: 0;
  right: -37px;
  z-index: 2;
  width: 40px;
  height: 548px;
  margin: 0 auto;
  display: block;
}
#projects #navigation_prj button {
  font-size: 40px;
  line-height: 40px;
  position: absolute;
  height: 30px;
  width: 40px;
  font-weight: bold;
  background: none;
  border: none;
  z-index: 2;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#projects #navigation_prj button:hover {
  color: rgba(0, 0, 0, 0.8);
}
#projects #navigation_prj button:before {
  font-size: 40px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#projects #navigation_prj button:before:hover {
  color: rgba(0, 0, 0, 0.8);
}
#projects #navigation_prj button#previous {
  top: 24px;
}
#projects #navigation_prj button#next {
  bottom: 24px;
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flicker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flicker {
  0% {
    -webkit-filter: grayscale(100%) drop-shadow(0 0 0 #000000);
  }
  100% {
    -webkit-filter: grayscale(0%) drop-shadow(0 0 25px #d01e53);
  }
}
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  body {
    font-size: 16px;
  }
  .how a {
    line-height: 24px !important;
    height: 24px !important;
  }
  .fluent a {
    font-size: 22px !important;
  }
  .great a {
    font-size: 18px !important;
  }
  .good a {
    font-size: 14px !important;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  nav a {
    font-family: 'Helvetica Neue', Helvetica;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  nav a {
    font-family: 'Helvetica Neue', Helvetica;
  }
  #content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 0;
    padding: 0;
  }
  #content section {
    padding-bottom: 80px;
    width: auto;
    overflow: hidden;
  }
  #content section#projects #prj_center {
    margin-top: -315px;
  }
  #navigation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 76px;
    border-bottom: 1px solid #ccc;
    z-index: 999;
    overflow: hidden;
    padding: 0 0 0 224px;
  }
  #navigation nav {
    height: 76px;
    padding: 0 !important;
    position: static;
  }
  #navigation nav ul.nav {
    padding: 0;
    margin: 0;
    position: static;
  }
  #navigation nav ul.nav li {
    float: left;
    padding: 0 !important;
    margin: 0;
    line-height: 76px;
    height: 76px;
    margin: 0 12px 0 0;
    position: relative;
  }
  #navigation nav ul.nav li a {
    line-height: 76px;
    height: 76px;
    padding: 0;
    margin: 0;
    position: relative;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    text-shadow: 1px 1px #aaa;
  }
  #navigation nav ul.nav li a:after {
    content: ">";
    text-align: center;
    position: absolute;
    display: block;
    width: 20px;
    margin: 0 0 0 -10px;
    top: 22px;
    left: 50%;
    -webkit-transform: rotate(90deg);
  }
  #navigation nav ul.nav li.active a,
  #navigation nav ul.nav li a:hover {
    font-size: 20px !important;
    top: -22px;
    text-decoration: none !important;
  }
  #navigation nav ul.nav li#logo {
    position: absolute;
    left: -200px;
    top: 0;
    background-color: transparent;
  }
  #navigation nav ul.nav li#logo.active a {
    top: 0;
  }
  #navigation nav ul.nav li#logo h1 img {
    -webkit-transform: rotate(90deg) translate3d(-61px, -24px, 0) scale(1);
  }
  #navigation nav ul.nav li.switch {
    top: 0;
    position: static;
    height: 76px;
    line-height: 76px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }
  #navigation nav ul.nav li.switch #switch {
    overflow: hidden;
    padding: 0;
    margin: 20px 0;
    -webkit-transform: scale(0.8);
  }
  .business #navigation {
    border-color: #333;
  }
  .business #navigation li a {
    color: #333;
  }
  .business section {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background-color: #fff;
  }
  .pleasure #navigation {
    border-color: #d01e53;
  }
  .pleasure section {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    background-color: #1D1D1D;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
#switch {
  position: relative;
  margin: 40px 0 0 0;
  height: 36px;
  width: 160px;
  background-color: #333;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
#switch .switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 78px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10px;
}
#switch .switch-label-off {
  padding-left: 2px;
}
#switch .switch-label-on {
  padding-right: 2px;
}
#switch .switch-input {
  display: none;
}
#switch .switch-input:checked + .switch-label {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
#switch .switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 78px;
  /* Note: left: 50% doesn't transition in WebKit */

}
#switch .switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 80px;
  height: 32px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
  background-color: #999;
}
