<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="post" action="/projects/new" id="new_post" enctype="multipart/form-data">
    	<input type="text" name="title" id="title">
      <input type="text" name="client" id="client">
      <input type="text" name="url" id="url">
      <input type="file" name="image" id="image">
      <textarea name="description" id="description"></textarea>
    	<input type="submit" />
    </form>

  </body>
</html>
