<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>New Project</h1>
      <p>Add a new project</p>

      <form method="post" action="/projects/new" id="new_post" enctype="multipart/form-data" class="form-horizontal">

        <div class="control-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input type="text" name="title" id="title" placeholder="Title" class="input-xxlarge">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="Client">Client</label>
          <div class="controls">
            <input type="text" name="client" id="client" placeholder="Client" class="input-xxlarge" >
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="url">URL</label>
          <div class="controls">
            <input type="text" name="url" id="url" class="input-xxlarge" placeholder="URL">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="image">Image</label>
          <div class="controls">
            <input type="file" name="image" id="image" class="input-xxlarge" >
          </div>
        </div>        

        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <textarea name="description" id="description" rows="10" class="input-xxlarge" placeholder="Description"></textarea>
          </div>
        </div>          	

        <div class="control-group">
          <div class="controls">
            <input type="submit" class="btn btn-primary"/>
          </div>
        </div>
        
      </form>
    </div>
  </body>
</html>
